In [24]:
import numpy as numpy
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn

In [25]:
df=pd.read_csv(r"C:\Users\akhil\OneDrive\Desktop\Machine_learning\svm\stroke.csv")

In [26]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [27]:
df.drop(columns=['id'],inplace=True)

In [28]:
df.shape
df.dtypes
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [29]:
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [30]:
df['bmi'].fillna(df['bmi'].median(),inplace=True)

In [31]:
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [32]:
df.duplicated().sum()

0

In [33]:
df["bmi"].value_counts()

bmi
28.1    230
28.7     41
28.4     38
26.7     37
27.6     37
       ...
48.7      1
49.2      1
51.0      1
49.4      1
14.9      1
Name: count, Length: 418, dtype: int64

In [34]:
df["stroke"].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

outlier detection

In [ ]:
df[df['bmi']>50]['stroke']

113     1
254     0
258     0
270     0
333     0
       ..
4650    0
4779    0
4838    0
4906    0
4952    0
Name: stroke, Length: 79, dtype: int64

removing cxritical outlier   columns

In [41]:
q1=df['bmi'].quantile(0.25)
q3=df['bmi'].quantile(0.75)
iqr=q3-q1
minimum=q1-1.5*iqr
maximum=q3+1.5*iqr
df=df[(df['bmi']>=minimum)&(df['bmi']<=maximum)]

In [42]:
df['stroke'].value_counts()

stroke
0    4738
1     246
Name: count, dtype: int64

In [43]:
for i in df:
    if df[i].dtype=='object':
        print(df[i].value_counts())

gender
Female    2895
Male      2088
Other        1
Name: count, dtype: int64
ever_married
Yes    3255
No     1729
Name: count, dtype: int64
work_type
Private          2836
Self-employed     801
children          686
Govt_job          639
Never_worked       22
Name: count, dtype: int64
Residence_type
Urban    2538
Rural    2446
Name: count, dtype: int64
smoking_status
never smoked       1836
Unknown            1515
formerly smoked     862
smokes              771
Name: count, dtype: int64

In [46]:
df=df[df['gender']!='Other']

In [47]:
df['gender'].value_counts()

gender
Female    2895
Male      2088
Name: count, dtype: int64

In [ ]:
df.reset_index

In [49]:
df[df['smoking_status']=='Unknown']['stroke'].value_counts()

stroke
0    1468
1      47
Name: count, dtype: int64